.btnSuma {
  margin-top: 7px;
  border: 1px solid gray;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  background-color: #007bff;
  color: white;
  font-size: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  padding-top: 9px;
}
