.btnEliminar{
  font-size:10px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:#638cb5;
  border:0px;
  width:20px;
  height:19px;
  outline: none;
}
.modal-dialog{
  z-index:99999;
}
