.m-t-22{
  margin-top: 22px;
}
.m-t-28{
  margin-top: 28px;
}
.form-group-checkbox{
  display: block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.form-group-checkbox label.checkbox{
  padding: 0px;
  margin: 0px;
}
.form-group-checkbox label.checkbox input{
  margin-right: 5px;
}
