.btnArchivo {
  width: 280px;
}
.zIndex3 {
  z-index: 3;
}
.zIndex1 {
  z-index: -1;
}
.zIndex2 {
  z-index: 2;
  position: relative;
}

.mt30 {
  margin-top: 30px;
}

.mt25 {
  margin-top: 25px;
}

.centrado {
  margin: 0 auto;
  display: block;
}

.backgroundred {
  background-color: red;
}
