<!--TEMPLATE PARA EL CONTROL DE FORMAS DE PAGO -->
<script id="tplFormaPago" type="text/template">
    <div id="divFormaPago{{indice}}">
            <div class="campo">
            <label for="cmbFormaPago{{indice}}">Forma de Pago</label>
            <select id="cmbFormaPago{{indice}}">
                <option value="75">Efectivo</option>
                <option value="76">Tarjeta Crédito</option>
                <option value="77">Tarjeta Débito</option>
                <option value="78">Cheque</option>
            </select>
        </div>

        <div class="campo">
            <label for="txtValor{{indice}}">Valor:</label>
            <input type="text" id="txtValor{{indice}}" />
        </div>

        <div id="divdetallesFormaPago{{indice}}" style="display:none;">
            <div class="campo">
                <label for="txtDocGirador{{indice}}">NIT/CC Girador:</label>
                <input type="text" id="txtDocGirador{{indice}}" maxlength="10" />    
            </div>
            <div class="campo">
                <label for="txtNombreGirador{{indice}}">Nombre Girador:</label>
                <input type="text" id="txtNombreGirador{{indice}}" maxlength="50" />
            </div>
            <div class="campo">
                <label for="cmbBanco{{indice}}">Banco:</label>
                <select id="cmbBanco{{indice}}"></select>
            </div>
        </div>

        <div id="divDetallesTarjeta{{indice}}" style="display:none;">
            <div class="campo">
                <label for="cmbFranquicia{{indice}}">Franquicia:</label>
                <select id="cmbFranquicia{{indice}}">
                    <option value="Visa">Visa</option>
                    <option value="MasterCard">MasterCard</option>
                    <option value="American Express">American Express</option>
                    <option value="Diners Club">Diners Club</option>
                </select>
            </div>
            <div class="campo">
                <label for="txtNumTarjeta{{indice}}">Número de Recibo:</label>
                <input id="txtNumTarjeta{{indice}}" type="text" placeholder="0000" maxlength="4"/>
            </div>
            <div class="campo">
                <label for="txtFechaExpiracion{{indice}}">Fecha de Vencimiento Tarjeta:</label>
                <input id="txtFechaExpiracion{{indice}}" type="text" placeholder="mm/aa" />
            </div>  
        </div>

        <div id="divDetallesCheque{{indice}}" style="display:none;">
            <div class="campo">
                <label for="txtNumCuenta{{indice}}">Número de la cuenta:</label>
                <input type="text" id="txtNumCuenta{{indice}}" maxlength="12" />    
            </div>
            <div class="campo">
                <label for="txtNumCheque{{indice}}">Número de cheque:</label>
                <input type="text" id="txtNumCheque{{indice}}" maxlength="4" />    
            </div>
        </div>
        <div>
            <button id="btnRemoverForma{{indice}}" class="btnSimple">Remover Forma</button>
        </div>
        <hr style="margin:10px 0px 5px 0px; width: 95%;" />
    </div>
</script>
