<!--TEMPLATE PARA EL CONTROL DE FORMAS DE PAGO -->
<script id="tplFormaConsignacion" type="text/template">
    <div id="divFormaPago{{numero}}" class="contenedorFormaPago">
            <div class="cabeceraForma">
                <div class="title" id="title{{numero}}">
                    <h3>Forma pago {{numero}}: <span></span></h3>
                </div>
                <div class="commands">
                    <button class="btn" id="btnMinimizar{{numero}}"><i class="fa fa-minus"></i></button>
                    <button class="btn" id="btnCerrar{{numero}}"><i class="fa fa-times"></i></button>
                </div>
            </div>

            <div class="divCabecera" id="contenido{{numero}}">
                <div class="divIzquierda" style="width: 35%;">
                    <div class="campo campo-consignacion">
                        <label>Forma de pago: </label>
                        <select id="cmbFormaPago{{numero}}">
                            <option value="75">Efectivo</option>
                            <option value="78">Cheque</option>
                        </select>
                    </div>
                    <div id="divValorFormaPago{{numero}}" class="campoBusqueda">
                        <label>Valor: </label>
                        <input type="text" id="txtValorFormaPago{{numero}}"/>
                        <button id="btnAgregar{{numero}}"></button>
                    </div>
                    <div>
                        <button id="btnAgregarBanco{{numero}}" class="btnSimple">Agregar banco</button>
                    </div>
                </div>

                <div class="divDerecha">
                    <table id="tblBancos{{numero}}" class="tabla">
                        <thead>
                            <tr>
                                <th>Banco</th>
                                <th>Tipo cuenta</th>
                                <th>Cuenta</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    
    
    
    
   
</script>
