<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AMORTIZACIÓN FINANCIACIÓN </title>
        <link rel="stylesheet" type="text/css" href="/achagua/sistema/web/bundles/Llanogas/css/theme/jquery.ui.all.css" />
        <link rel="stylesheet" type="text/css" href="/achagua/sistema/web/bundles/Llanogas/css/estilo.ui.css" />
        <link rel="stylesheet" media="print" type="text/css" href="/achagua/sistema/web/bundles/Llanogas/css/estilo_imprimir.css" />
    </head>
    <body>


        <table>
            <thead>
                <tr>
                    <th>
                        <img  id="imgLogo"  src="\achagua\sistema\web\bundles\Llanogas\img\logollanogas.gif" style="display: inline-block; width: 170px; height: 60px;"  />
                    </th>
                    <th><strong id="title" style="font-size: 15px;"> FINANCIACIÓN </strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" id="contenido"></td>
                </tr>
            </tbody>
        </table>
         <script type="text/javascript">
            var logo = sessionStorage.getItem('logoEmpresa');
            if (logo!==null) {
                document.getElementById('imgLogo').setAttribute('src', '/achagua/img/logos_empresas/'+logo);
            }
        </script>
    </body>
    
</html>