<!--TEMPLATE PARA EL CONTROL DE FORMAS DE PAGO -->

<script id="tpltratamientoDatos" type="text/template">
<h2>AUTORIZACIÓN PARA EL TRATAMIENTO DE DATOS PERSONALES</h2>
    <h4>Fecha: {{fecha}}</h4>
    <h4>{{empresa}}</h4>
    <h4>Dirección: <span>{{direccion}}</span>, Teléfono: <span>{{telefono}}</span></h4>

    <p>
        De conformidad con lo dispuesto en la Ley 1581 de 2012 y su Decreto Reglamentario 1377 de 2013, los datos de carácter
        personal que se obtengan por <span>{{empresa}}</span> a través del titular de la información, serán compilados, almacenados, 
        consultados, compartidos, intercambiados, transmitidos, transferidos y objeto de tratamiento en bases de datos, las cuales 
        estarán destinadas a las siguientes finalidades:
        <ul>
            <li> Construcción de instalaciones internas para el suministro de gas natural.</li>
            <li> Elaboración de cotizaciones, facturación. </li>
            <li> Recepción, trámite y notificación de Peticiones, Quejas, Reclamos y Recursos.</li>
            <li> Tomas de lectura, revisiones de consumo, notificaciones de suspensiones, reconexiones, reinstalaciones, cambio de nombre.</li>
            <li>Cambios de uso, Cambio de estrato, actualización catastral y de estratificación.</li>
            <li>Contratos, Estudios de crédito, acuerdos de pago, Certificados de paz y salvo para deudores.</li>
            <li>Financiaciones y refinanciaciones, Gestión de cartera, Control de proveedores</li>
            <li>Programación y ejecución de Revisiones Técnicas Reglamentarias.</li>
            <li>Emisión de Certificados de Disponibilidad del Servicio.</li>
            <li>Campañas de fidelización de los clientes de las estaciones de servicio de gas natural, bonos y premios.</li>
            <li>Estudio de aprobación de crédito para el suministro de gas natural vehicular.</li>
            <li>Reporte de llamadas de emergencias, venta de matrícula del servicio de gas natural, encuestas de satisfacción al cliente vía telefónica o escrita.</li>
            <li> Socializaciones, reuniones con la comunidad, actualización de datos de clientes y/o usuarios, certificación de retenciones de los proveedores.</li>
            <li>Reporte de información a entes de control, publicación en la página web de firmas instaladoras inscritas.</li>
            <li> Para dar cumplimiento a los deberes legales, el ejercicio de los derechos u 
            obligaciones contractuales de esta compañía y todas las actividades derivadas de la 
            prestación del servicio público domiciliario de gas por redes, conforme a lo señalado
            en la normatividad que la regula.</li>
            <li>Realizar convocatorias para participar de los procesos de selección a proveedores para desarrollar actividades dentro de la compañía.</li>
        </ul><br/>
    </p>
    <p>
        En el caso de <span>{{empresa}}</span>, la base de datos y los requerimientos realizados por 
        los titulares de los datos, serán atendidos por el funcionario <span>{{nombreusuario}}</span>,
         correo electrónico <span>{{correousuario}}</span>.
     </p>
     <p>
        El período de vigencia de las bases de datos se circunscribe al requerido para alcanzar la 
        necesidad con las que se ha registrado, o por el tiempo que legal o contractualmente dichos 
        datos deban ser conservados. La base de datos cuenta con las medidas de seguridad necesarias 
        para la conservación adecuada de los datos.
     </p>
     <p>
        Con la aceptación, el titular autoriza el tratamiento de sus datos para las finalidades aquí 
        mencionadas y reconoce que los datos suministrados en las solicitud son ciertos y no han sido 
        omitidos o alterados, quedando informado que la falsedad u omisión de algún dato supondrá la 
        imposibilidad de su uso. Le recordamos la posibilidad que tiene de acceder en cualquier 
        momento a los datos suministrados, así como de solicitar la corrección, actualización o 
        supresión, en los términos de la Ley 1581 de 2012 y su Decreto reglamentario 1377 de 2013 
        dirigiendo una comunicación escrita al responsable de tratamiento a la dirección arriba indicada con:
        <ul>
            <li>Nombre y apellidos</li>
            <li>Domicilio a efectos de notificaciones</li>
            <li>Petición en que se concreta la solicitud.</li>
            <li>Fecha, firma de la persona interesada</li>
        </ul>
     </p>
     <p>
        En señal de aceptación de lo anterior consiento y autorizo que mis datos personales sean 
        tratados conforme a lo previsto en la presente autorización.
     </p>
     <div>
        <p><strong>Firma: </strong><hr>
        <strong>Nombre: </strong><hr>
        <strong>C.C. </strong><hr>
        <strong>Dirección de notificación: </strong><hr></p>
     </div>
</script>
