<script type="text/javascript" id="tplvinculacionGasDomiciliario">
<div id="divCabecera">
<h3>DIRECCIÓN COMERCIAL - GESTIÓN DE VENTAS</h3>
<h5 style="border: none;">FORMATO DE VINCULACIÓN AL SERVICIO DE GAS NATURAL DOMICILIARIO POR RED</h5>
<p>(Por favor diligenciar en letra imprenta sin tachones ni enmendaduras) 
<br>Todos los campos de este formato son obligatorios, si no cuenta con algún dato por favor diligenciar "No Informa" o "No Aplica" en el campo respectivo según sea el caso.</p>
</div>
<div style="width: 100%; margin-top: 15px; padding-top: 15px;">
	<div style="width: 48%; display:inline-block;">
		<h5 id="tdsubtitle">Tipo de vinculación</h5>
		<div style="font-size:10px;">
			<label> <input type="checkbox" /> Residencial </label> 
			<label> <input type="checkbox"/> Comercial </label> 
			<label> <input type="checkbox"/> Industrial </label> 
		</div>
	</div>
	<div style="width: 5px; display:inline-block;"></div>
	<div style="width: 40%; display:inline-block;">
		<h5>Tipo de venta</h5>
		<div style="margin-left:25px;">
			<label> <input type="checkbox"/> Financiación </label> 
			<label> <input type="checkbox"/> Contado </label> 
		</div>
	</div>
</div>
<div>
	<h4 style="display: inline-block;">Informacion Persona Natural y del Predio </h4> <h6 style="display: inline-block;">(Datos del propietario deudor) </h6>
		<table>
			<tbody>
				<tr>
					<td rowspan="2" class="bbottom"> Tipo identificación: </td>
					<td><input type="checkbox"/> C.C.</td>
					<td class="bbottom"> No. de identificación: </td>
					<td class="bbottom"> Lugar de expedición: </td>
					<td rowspan="2" class="bbottom">Género: </td>
					<td><input type="checkbox"/> F</td>
					<td class="bbottom" colspan="3"> Nombres: </td>
					<td class="bbottom" colspan="3"> Apellidos: </td>
				</tr>
				<tr>
					<td class="bbottom"><input type="checkbox"/> C.E.</td>
					<td class="bbottom"></td>
					<td class="bbottom"></td>
					<td class="bbottom"><input type="checkbox"/> M</td>
					<td class="bbottom" colspan="3" style="min-width: 15vw !important"> </td>
					<td class="bbottom" colspan="3" style="min-width: 15vw !important"> </td>
				</tr>
				<tr>
					<td colspan="2">Dirección: </td>
					<td>Barrio: </td>
					<td >Ciudad/Municipio: </td>
					<td colspan="4">Departamento: </td>
					<td colspan="2">Estrato: </td>
				</tr>
				<tr>
					<td class="bbottom" colspan="2"> </td>
					<td class="bbottom"> </td>
					<td class="bbottom"> </td>
					<td class="bbottom" colspan="4"> </td>
					<td class="bbottom" colspan="2"> </td>
				</tr>
				<tr>
					<td colspan="4"> Correo electrónico: </td>
					<td colspan="3"> Teléfono 1:  </td>
					<td colspan="3"> Teléfono 2: </td>
				</tr>
				<tr>
					<td colspan="4"></td>
					<td colspan="3"></td>
					<td colspan="3"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="divTbl"  class="nextPage">
	<h4>Información Persona Jurídica y del Predio</h4>
		<table>
				<tr>
					<td rowspan="2" class="bbottom">Tipo identificación: </td>
					<td><input type="checkbox"/> Nit</td>
					<td class="bbottom">No. de identificación: </td>
					<td rowspan="2" class="bbottom">Tipo sociedad: </td>
					<td class="sinb"><input type="checkbox"/> S.A.</td>
					<td class="sinb"><input type="checkbox"/> Ltda.</td>
					<td><input type="checkbox"/> Otra</td>
					<td class="bbottom">Razón social: </td>
					<td class="bbottom">Nombre comercial: </td>
				</tr>
				<tr>
					<td class="bbottom"><input type="checkbox"/> Sic</td>
					<td class="bbottom"></td>
					<td class="bbottom sinb"><input type="checkbox"/> S.A.S.</td>
					<td class="bbottom sinb"><input type="checkbox"/> S. en C.</td>
					<td class="bbottom">Cuál? _____</td>
					<td class="bbottom"></td>
					<td class="bbottom"></td>
				</tr>
				<tr>
					<td rowspan="2" class="bbottom">Actividad económica principal: </td>
					<td colspan"2" class="sinb"><input type="checkbox"/> Cultivar, consechar , criar</td>
					<td colspan="3" class="sinb"><input type="checkbox"/> Fabricar, manufacturar, transformar</td>
					<td class="sinb"><input type="checkbox"/> Construir</td>
					<td><input type="checkbox"/> Vender y/o comprar</td>
					<td colspan="2" class="bbottom">Experiencia: </td>
				</tr>
				<tr>
					
					<td colspan"2" class="sinb bbottom"><input type="checkbox"/> Suministrar o prestar servicios</td>
					<td colspan="3" class="sinb bbottom"><input type="checkbox"/> Explotar, extraer, explorar subsuelo</td>
					<td class="sinb bbottom"><input type="checkbox"/> Transportar</td>
					<td class="bbottom"><input type="checkbox"/> Otro, ¿Cuál? ____________________</td>
					<td class="bbottom" style="color: #DED9C3"> Años</td>
					<td class="bbottom" style="color: #DED9C3"> Meses</td>
				</tr>
				<tr>
					<td colspan="2">Dirección: </td>
					<td colspan="2">Barrio: </td>
					<td colspan="2">Ciudad/Municipio: </td>
					<td colspan="2">Departamento: </td>
					<td colspan="2">Estrato: </td>
				</tr>
				<tr>
					<td class="bbottom" colspan="2"> </td>
					<td class="bbottom" colspan="2"> </td>
					<td class="bbottom" colspan="2"> </td>
					<td class="bbottom" colspan="2"> </td>
					<td class="bbottom" colspan="2"> </td>
				</tr>
				<tr>
					<td colspan="4"> Correo electrónico: </td>
					<td colspan="2"> Teléfono 1:  </td>
					<td colspan="4"> Teléfono 2: </td>
				</tr>
				<tr>
					<td colspan="4"></td>
					<td colspan="2"></td>
					<td colspan="4"></td>
				</tr>
		</table>
	</div>
	<div id="divTbl">
	<h4 style="display: inline-block;">Información Laboral Personas Naturales </h4>
	<h6 style="display: inline-block;">(Diligenciar la información si es empleado o independiente)</h6>
		<table>
			<tbody>
				<tr>
					<td rowspan="2" class="bbottom">Ocupación/ Oficio</td>
					<td class="sinb"><input type="checkbox"/>Empleado</td>
					<td class="sinb"><input type="checkbox"/>Comerciante</td>
					<td class="sinb"><input type="checkbox"/>Ganadero/Agricultor</td>
					<td class="sinb"><input type="checkbox"/>Rentista de capital</td>
					<td class="sinb"><input type="checkbox"/>Independiente</td>
				</tr>
				<tr>
					<td class="bbottom sinb"><input type="checkbox"/>Jubilado</td>
					<td class="bbottom sinb"><input type="checkbox"/>Ama de casa</td>
					<td class="bbottom sinb"><input type="checkbox"/>Profesional independiente</td>
					<td class="bbottom sinb"><input type="checkbox"/>Transportador</td>
					<td class="bbottom sinb">Otro, ¿Cuál? ____________________</td>
				</tr>
				<tr>
					<td colspan="3">Nombre de la empresa o establecimiento</td>
					<td colspan="2">Fecha de ingreso</td>
					<td colspan="2">Tiempo laborado</td>
				</tr>
				<tr>
					<td colspan="3" class="bbottom"></td>
					<td colspan="2" class="bbottom" style="color: #DED9C3"> DÍA | MES | AÑO </td>
					<td colspan="2" class="bbottom" style="color: #DED9C3"> AÑOS | MESES </td>
				</tr>
				<tr>
					<td colspan="3">Cargo </td>
					<td colspan="2">Teléfono 1 </td>
					<td colspan="2">Teléfono 2</td>
				</tr>
				<tr>
					<td colspan="3"></td>
					<td colspan="2"> </td>
					<td colspan="2"> </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="divTb">
		<h4>Información financiera deudor</h4>
		<div style="width: 45%; display:inline-block; margin: 0px 20px 0px 20px;">
			<table>
				<thead>
					<td class="bbottom"> <strong>Ingresos mensuales </strong></td>
					<td class="bbottom"> Valor ($) </td>
				</thead>
				<tbody>
					<tr>
						<td class="sinb">Salario fijo</td>
						<td class="sinb">$ </td>
					</tr>
					<tr>
						<td class="sinb">Salario variable</td>
						<td class="sinb">$ </td>
					</tr>
					<tr>
						<td class="sinb">Arrendamientos</td>
						<td class="sinb">$ </td>
					</tr>
					<tr>
						<td class="sinb">Ventas</td>
						<td class="sinb">$ </td>
					</tr>
					<tr>
						<td class="sinb">Otros, ¿Cuál? __________</td>
						<td class="sinb">$ </td>
					</tr>
					<tr>
						<td> <strong>Total ingresos mensuales</strong></td>
						<td class="btop">$ </td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="width: 45%; display:inline-block;">
			<table class="sinb"">
				<thead>
				<td class="bbottom"> <strong> Egresos mensuales </strong></td>
				<td class="bbottom">Valor ($)</td>
				</thead>
				<tbody>
					<tr>
						<td class="sinb">Gastos familiares</td>
						<td class="sinb">$ </td>
					</tr>
					<tr>
						<td class="sinb">Arrendamientos</td>
						<td class="sinb">$ </td>
					</tr>
					<tr>
						<td class="sinb">Financieros</td>
						<td class="sinb">$ </td>
					</tr>
					<tr>
						<td class="sinb">Compras</td>
						<td class="sinb">$ </td>
					</tr>
					<tr>
						<td class="sinb">Otros, ¿Cuál? __________</td>
						<td class="sinb">$ </td>
					</tr>
					<tr>
						<td><strong>Total egresos mensuales</strong></td>
						<td class="btop">$ </td>
					</tr>
				</tbody>
			</table>
		</div>

		
		<div style="width: 45%; display:inline-block; margin: 0px 20px 0px 20px;">
			<table>
				<thead><td class="bbottom"> <strong>Activos</strong></td>
				<td class="bbottom" colspan="3">Valor ($)</td></thead>
				<tbody>
					<tr>
						<td>Activos corrientes (ahorro e inversión)</td>
						<td>$ </td>
					</tr>
					<tr>
						<td>Vehículos</td>
						<td>$ </td>
					</tr>
					<tr>
						<td>Otras propiedades</td>
						<td>$ </td>
					</tr>
					<tr>
						<td><strong>Total activos </strong></td>
						<td class="btop">$ </td>
					</tr>
				</tbody>
			</table>
		</div>
                <div style="width: 45%; display:inline-block; margin-top: 20px;">
                    <table>
                        <thead>
                            <td><strong>Efectivo disponible</strong></td>
                            <td colspan="3" style="color: #FFF">Valor ($) </td>
                        </thead>
                    </table>
                </div>
	</div>
	<div>

<h4>Información General de la compra</h4>
<div class="campo" style="width: 25% !important;"><label for="">Valor total del negocio</label><input type="text" value="$"></div>
<div class="campo"><label for="">Cuota inicial </label><input type="text" value="$"></div>
<div class="campo"><label for="">Saldo a financiar o cancelar</label><input type="text" value="$"></div>
<div class="campo" style="width: 15% !important;"><label> Nº cuotas</label><input type="text"></div>
	</div>
	<div style="width: 100%;">
	<h4>Firmas</h4>
		<div style="width: 45%; display:inline-block; margin: 0px 30px 20px 10px;">
			<div class="firma">
			Propietario / Deudor
	            <hr align="center">
	            Firma __________________________ <br>
                    Nombre ________________________ <br>
	            <span>{{{nombre}}}</span><br/>C.C. Nº: {{cedula}} Expedida en {{lugarexpedicion}}
	    	</div>
		</div>
		<div style="width: 45%; display:inline-block;">
			<div class="firma">
			Colaborador llanogas
	            <hr align="center" >
                    Nombre {{^nombreusuario}}________________________ {{/nombreusuario}} {{#nombreusuario}}<span>{{{nombreusuario}}}</span> {{/nombreusuario}} <br>
	           Código sistema comercial _______________
	    	</div>
		</div>
	</div>
	
</script>
