.mt30{
  margin-top: 30px;
}

fieldset {
	background-color: #efefef;
	border: 2px solid #75a7dc;
	margin-bottom: 1em;
	padding: 1em;
}

legend {
	font-size: 1.5em;
	font-weight: bold;
	padding: 0 0.5em;
	width: initial;
}
