#divLiquidacionVenta #seleccionLiquidacion div{
    float:left;
    width: 97%;
    padding: 6px;
}
#divLiquidacionVenta #seleccionLiquidacion #divBotonLiquidacion{
    width: 6%;
}
#divBotonLiquidacion{
    position: relative;
    top: 75px;
}
#divLiquidacionVenta #seleccionLiquidacion button{
    min-width: 40px;
    display: list-item; 
}

.listaLiquidacion{
    margin-right:15px;
    min-height:170px;
    max-height: 170px;
    overflow: auto;
    border:solid 1px #000;
    padding:5px;
    font-size: 10px;
}

.listaSeleccion div{
    width: 90% !important;
}

#seleccionLiquidacion {
    display: flex;
}
