.table-header {
  background-color: #6456c8;
  color: white;
}

.table-body-1 {
  background-color: #b4c3f1;
}

.table-body-2 {
  background-color: #e4e7f3;
}

.box_check {
  width: 100%;
}

.margin-space {
  margin-right: 8px;
}

.modal-lg-custom {
  max-width: 900px;
}

.flexbox-align-center {
  display: flex;
  align-items: center;
}

.no-margin {
  margin: 0px;
}

.background-blue {
  background-color: rgba(51, 122, 183, 0.3);
}