.mb-28 {
  margin-bottom: 24px;
}

.flexCentrado {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

table#detalle
{
    border-collapse:separate;
    border-spacing:0 5px;
}

// tr.testPadding>td {
//    padding-right: 5px;
//    padding-left: 5px;
//  }
