.container-conceptos-variables-module {
    
    .group-section {
        border: #ced4da solid 1px;
        border-radius: 1rem;
    }


    textarea {
        resize: none;
    }

    .input-valor-concepto {
        max-width: 20rem;
        margin: auto;
    }

    .input-valor-observacion {
        max-width: 30rem;
        margin: auto;
    }
    
    .tabla-conceptos-variables {
        text-align: center;
        
        .ReactTable .rt-tbody .rt-td {
            border: 1px solid #ced4da;
        }
    }
}

