.btnTabla{
  font-size:15px;
  font-family:Verdana,Helvetica;
  font-weight:bold;
  color:white;
  background:#638cb5;
  border:0px;
  width:30px;
  height:30px;
  outline: none;
  text-align: center;
}
.mt-24{
  margin-top: 24px;
}
.ReactModal__Overlay{
  z-index: 9999;
}
